<p style="text-align: center; background-color: transparent; color: white;">
    <a href="/" style="color: #ffffff; cursor: pointer;">Home</a> |
    <a href="/configuration/" style="color: #ffffff; cursor: pointer;">Configuration</a> |
    <a href="/architecture/" style="color: #ffffff; cursor: pointer;">Architecture</a> | 
    <a href="/usage/" style="color: #ffffff; cursor: pointer;">Usage</a> | 
    <a href="/releases/" style="color: #ffffff; cursor: pointer;">Release Notes</a> | 
    <a href="/interface/" style="color: #ffffff; cursor: pointer;">Interface</a>
  </p>