<p style="text-align: center; background-color: transparent; color: white;">
    <a href="{{page.baseurl}}/" style="color: #ffffff; cursor: pointer;">Home</a> |
    <a href="{{page.baseurl}}/configuration" style="color: #ffffff; cursor: pointer;">Configuration</a> |
    <a href="{{page.baseurl}}/architecture" style="color: #ffffff; cursor: pointer;">Architecture</a> |
    <a href="{{page.baseurl}}/usage" style="color: #ffffff; cursor: pointer;">Usage</a> |
    <a href="{{page.baseurl}}/releases" style="color: #ffffff; cursor: pointer;">Release Notes</a> |
    <a href="{{page.baseurl}}/interface" style="color: #ffffff; cursor: pointer;">Interface</a>
</p>