<p style="text-align: center; background-color: transparent; color: white;">
    <a href="/{{site.baseurl}}/" style="color: #ffffff; cursor: pointer;">Home</a> |
    <a href="/{{site.baseurl}}/configuration/" style="color: #ffffff; cursor: pointer;">Configuration</a> |
    <a href="/{{site.baseurl}}/architecture/" style="color: #ffffff; cursor: pointer;">Architecture</a> | 
    <a href="/{{site.baseurl}}/usage/" style="color: #ffffff; cursor: pointer;">Usage</a> | 
    <a href="/{{site.baseurl}}/releases/" style="color: #ffffff; cursor: pointer;">Release Notes</a> | 
    <a href="/{{site.baseurl}}/interface/" style="color: #ffffff; cursor: pointer;">Interface</a>
  </p>