<!-- HTML for static distribution bundle build -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Swagger UI</title>
  <link rel="stylesheet" type="text/css" href="//unpkg.com/swagger-ui-dist@3/swagger-ui.css">
  <style>
    html {
      box-sizing: border-box;
      overflow: -moz-scrollbars-vertical;
      overflow-y: scroll;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    body {
      margin: 0;
      background: #fafafa;
    }

    pre.version {
      background-color: initial;
    }
  </style>
</head>

<body>
  <div id="swagger-ui"></div>

  <script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
  <script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-standalone-preset.js"></script>

  <script>
    window.onload = function () {
      const ui = SwaggerUIBundle({
        url: "http://localhost:4000/api/swagger.yaml",
        dom_id: '#swagger-ui',
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ]
      })

      window.ui = ui
    }
  </script>
</body>

</html>